<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://barzservices.officialbikesh.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>bikesh-001-subsite4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\bikesh-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_9E5950_aes01Entities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9E5950_aes01;User ID=DB_9E5950_aes01_admin;Password=wearebarz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_9E5950_aes01Entities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Account_Model.csdl|res://*/Account_Model.ssdl|res://*/Account_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5021.Smarterasp.net;initial catalog=DB_9E5950_aes01;user id=DB_9E5950_aes01_admin;password=wearebarz;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DB_9E5950_aes01Entities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WCFAESJobs.WebService.DB_9E5950_aes01Entities2, WCFAESJobs.WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_9E5950_aes01Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9E5950_aes01;User ID=DB_9E5950_aes01_admin;Password=wearebarz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_9E5950_aes01Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/AES_DataModel.csdl|res://*/AES_DataModel.ssdl|res://*/AES_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5021.Smarterasp.net;initial catalog=DB_9E5950_aes01;user id=DB_9E5950_aes01_admin;password=wearebarz;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9E5950_aes01Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9E5950_aes01Entities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9E5950_aes01Entities2-Web.config Connection String" />
  </ItemGroup>
</Project>